.htHack-reveald {
    color: #DC143C;
}

.htHack-reveald-label {
	white-space: nowrap;
}
.htHack-htHack-activated {
    background-color: red !important;
}

.htHack-entered {
    background-color: #CCFFCC !important;
}

.htHack-tooltip {
    font-size: 15px;
    background-color: #fff;
}

.htHack-tooltip {
    position: fixed;
    z-index: 1000;
    background-color: #CCFFCC;
}
th.htHack-reveald-jQgrid {
    color: #e0cdfa !important;
}
td.htHack-reveald-jQgrid {
    color: #DC143C !important;
}